In [1]:
import pandas as pd

In [28]:
df = pd.read_csv('datasets/Datafiniti_Hotel_Reviews.csv')

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    10000 non-null  object
 1   dateAdded             10000 non-null  object
 2   dateUpdated           10000 non-null  object
 3   address               10000 non-null  object
 4   categories            10000 non-null  object
 5   primaryCategories     10000 non-null  object
 6   city                  10000 non-null  object
 7   country               10000 non-null  object
 8   keys                  10000 non-null  object
 9   latitude              10000 non-null  float64
 10  longitude             10000 non-null  float64
 11  name                  10000 non-null  object
 12  postalCode            10000 non-null  object
 13  province              10000 non-null  object
 14  reviews.date          10000 non-null  object
 15  reviews.dateSeen      10000 non-null  object
 16  reviews.rating        10000 non-null  float64
 17  reviews.sourceURLs    10000 non-null  object
 18  reviews.text          9999 non-null   object
 19  reviews.title         9999 non-null   object
 20  reviews.userCity      4164 non-null   object
 21  reviews.userProvince  2705 non-null   object
 22  reviews.username      10000 non-null  object
 23  sourceURLs            10000 non-null  object
 24  websites              10000 non-null  object
dtypes: float64(3), object(22)
memory usage: 1.9+ MB

#### Choose specific fields

In [30]:
df = df.filter(['reviews.username', 'name', 'reviews.rating', 'reviews.text'])
df.rename(columns={"reviews.username":"user", "name":"item", "reviews.rating": "label", 
                   "reviews.text":"reviews", "reviews.title":"reviews_title"}, inplace=True)

In [31]:
df.head(2)

,user,item,label,reviews
0,Paula,Rancho Valencia Resort Spa,5.0,Our experience at Rancho Valencia was absolute...
1,D,Rancho Valencia Resort Spa,5.0,Amazing place. Everyone was extremely warm and...

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user     10000 non-null  object
 1   item     10000 non-null  object
 2   label    10000 non-null  float64
 3   reviews  9999 non-null   object
dtypes: float64(1), object(3)
memory usage: 312.6+ KB

#### convert user Id and item name to numerical value (starting from 1)

In [33]:
unique_users = df['user'].unique()
unique_items = df['item'].unique()
print("Unique users:", len(unique_users))
print("Unique items:", len(unique_items))

Unique users: 6942
Unique items: 1670

In [36]:
import numpy as np
user_dict = {}
all_users = np.arange(1,len(unique_users)+1).tolist()

for i in range(len(unique_users)):
    user_dict[unique_users[i]] = all_users[i]

df["user"] = df["user"].map(user_dict)

In [39]:
item_dict = {}
all_items = np.arange(1,len(unique_items)+1).tolist()
for i in range(len(unique_items)):
    item_dict[unique_items[i]] = all_items[i]

In [40]:
df["item"] = df["item"].map(item_dict)

In [41]:
df

      user  item  label                                            reviews
0        1     1    5.0  Our experience at Rancho Valencia was absolute...
1        2     1    5.0  Amazing place. Everyone was extremely warm and...
2        3     1    5.0  We booked a 3 night stay at Rancho Valencia to...
3        4     2    2.0  Currently in bed writing this for the past hr ...
4        5     2    5.0  I live in Md and the Aloft is my Home away fro...
...    ...   ...    ...                                                ...
9995  6939  1666    3.0  It is hard for me to review an oceanfront hote...
9996  4157  1667    4.0  I live close by, and needed to stay somewhere ...
9997  6940  1668    4.0  Rolled in 11:30 laid out heads down woke up to...
9998  6941  1669    1.0  Absolutely terrible..I was told I was being gi...
9999  6942  1670    1.0  Filthy, outdated, noisy neighbours, but this w...

[10000 rows x 4 columns]

In [12]:
# for users:
for i in range(len(df)):
    for j in range(len(unique_users)):
        if df['user'].iloc[i] == unique_users[j]:
            df['user'].iloc[i] = j+1

C:\Users\Vandana\AppData\Roaming\Python\Python37\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [13]:
df.head(3)
print(df.shape)

(10000, 4)

In [14]:
# for items:
for i in range(len(df)):
    for j in range(len(unique_items)):
        if df['item'].iloc[i] == unique_items[j]:
            df['item'].iloc[i] = j+1

In [15]:
df.head(3)
print(df.shape)

(10000, 4)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user     10000 non-null  object
 1   item     10000 non-null  object
 2   label    10000 non-null  float64
 3   reviews  9999 non-null   object
dtypes: float64(1), object(3)
memory usage: 312.6+ KB

In [18]:
df['label'] = df['label'].astype(int)
df_reviews = df.copy()

In [19]:
df.to_csv('datasets/preparation_of_datasets/hotel/Hotel_Reviews_dataset_I.csv', index=False)

In [13]:
##############################################################

In [ ]:
df = pd.read_csv('datasets/preparation_of_datasets/hotel/Hotel_Reviews_dataset_I.csv', header=0)
print(df.shape)

In [ ]:
df = df.dropna()
print(df.shape)

df = df.reset_index()
df = df.drop(columns='index')

df_reviews = df.copy()

In [ ]:
def decontract(phrase):
    phrase = re.sub(r"[c|C]an\'t", "can not", phrase)
    phrase = re.sub(r"[w|W]on\'t", "will not", phrase)
    
    phrase = re.sub(r"n\'t", " not", phrase)
    return phrase

In [ ]:
for i in range(len(df)):
    if 'Â' in df['reviews'].iloc[i]:
        print(df['reviews'].iloc[i])
        print(i)
# not checked for alpha numeric words yet
# as of now remove 7750 row

In [ ]:
for i in range(len(df)):
    df['reviews'].iloc[i] = decontract(df['reviews'].iloc[i])
    #df['reviews'].iloc[i] = df['reviews'].iloc[i].translate(str.maketrans('', '', string.punctuation))
    df['reviews'].iloc[i] = re.sub('[0-9]','', df['reviews'].iloc[i])
df = df.drop(7750) 
df = df.reset_index()
df = df.drop(columns=['index'])

In [ ]:
df.shape

In [ ]:
is_NaN = df.isnull()
row_has_NaN = is_NaN.any(axis=1)
rows_with_NaN = df[row_has_NaN]

In [ ]:
rows_with_NaN

In [ ]:
df.to_csv('datasets/preparation_of_datasets/hotel/Hotel_Reviews_dataset_II.csv', index=False)

In [ ]:
pd.read()