In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('hotel_with_review_III.csv')

In [3]:
df.head(5)

   user  item  label                                            reviews
0     1     1    5.0  Our experience at Rancho Valencia was absolute...
1     2     1    5.0  Amazing place. Everyone was extremely warm and...
2     3     1    5.0  We booked a  night stay at Rancho Valencia to ...
3     4     2    2.0  Currently in bed writing this for the past hr ...
4     5     2    5.0  I live in Md and the Aloft is my Home away fro...

###### takes a list as input and writes the list content in text file:

In [6]:
def write_reviews_text(reviews_list, filename):
    with open(filename, 'w', encoding='utf-8') as file_handler:
        for item in reviews_list:
            file_handler.write("{}\n".format(str(item)))

##### below code for converting column of df to list and then writing in text file:

In [7]:
# converting 'reviews.text' column into list
a = list(df['reviews'])

write_reviews_text(a,"hotel_dataset_reviews.txt")

#https://www.geeksforgeeks.org/how-to-convert-csv-columns-to-text-in-python/

9998

In [8]:
file = open("hotel_dataset_reviews.txt","r")
Counter = 0
  
# Reading from file
Content = file.read()
CoList = Content.split("\n")
  
for i in CoList:
    if i:
        Counter += 1
          
print("This is the number of lines in the file")
print(Counter)

This is the number of lines in the file
9998